﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="formAdd">
    <div class="card">
        <div class="card-header h3 text-center">Tambah Variant</div>
        <div class="card-body">
            <div class="col-10">
                <input type="hidden" value="@ViewBag.userId" name="userId" />
                <input type="hidden" value="@ViewBag.RoleId" name="RoleId" />
                <input type="hidden" value="@ViewBag.menuId" name="menuId" />
                <label class="my-1">Nama Variant<sup class="text-danger">*</sup></label>
                <input class="form-control" id="valNama" type="text" name="Name">
                <label class="my-1">Deskripsi Variant<sup class="text-danger">*</sup></label>
                <input class="form-control" id="valdeskripsi" type="text" name="Description">
                <label class="my-1">Pilih Category<sup class="text-danger">*</sup></label>
                <select name="CategoryId" class="form-control col-10">
                    <option value="">--Select Category--</option>
                    @foreach (VMTblCategory category in ViewBag.listCategory)
                    {
                        <option value="@category.Id">@category.CategoryName</option>
                    }
                </select>
            </div>
        </div>
        <div class="card-footer text-center btn-group mt-3">
            <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
            <button id="btnSimpan" type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </div>
</form>

<script>
    $("#formAdd").submit(function (event) {
        event.preventDefault();
        if ($("#formAdd").valid()) {
            let data = $("#formAdd").serialize();
           
            $.ajax({
                url: "/Variant/ConfirmAddNewVariant/",
                type: "post",
                data: data,
                dataType: "text",
                beforeSend: function () { },
                success: function (response) {
                    $("#staticModalBody").html(response);
                },
                error: function () { },
            })

        }
    })
</script>