﻿@using Newtonsoft.Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    VMTblVariant dataVariant = ViewBag.dataAdd;
}
    <div class="card">
        <div class="card-header h3 text-center">Confirmasi Variant</div>
        <div class="card-body">
            <div class="text-center mb-2">Anda Yakin Ingin Menambahkan Kategori Berikut :</div>
            <div class="mt-3">
               
                <p>Nama Variant :  <strong>@dataVariant.Name</strong></p>
                <p>Deskripsi Variant : <strong>@dataVariant.Description</strong></p>
            </div>

        </div>
        <div class="card-footer text-center btn-group">
            <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
        <button id="btnSimpan" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModalLg">Simpan</button>
        </div>
    </div>

<script>
    $("#btnSimpan").click(function (event) {
        let userId = @ViewBag.userId;
        let RoleId = @ViewBag.RoleId;
        let menuId = @ViewBag.MenuId;
        let dataVariant = @Html.Raw(JsonConvert.SerializeObject(ViewBag.dataAdd));
       
        let data = {
            userId: userId,
            RoleId: RoleId,
            menuId: menuId,
            dataVariant: dataVariant, 
        }
      
        $.ajax({
            url: "/Variant/GoAddNewCategory",
            type: "post",
            data: data,
            dataType: "json",
            beforeSend: function () { },
            success: function (response) {
                debugger;
                if (response.statusCode == 201) {
                    $("#MenuAdmin").load("/Variant/Index?userId="
                        + userId + "&RoleId=" + RoleId + "&menuId=" + menuId);

                }
            },
            error: function () { },
        })
        
    });
</script>