﻿@using Newtonsoft.Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    VMTblVariant datalama = ViewBag.datalama;
    VMTblVariant databaru = ViewBag.databaru;
}

<div class="card">
    <div class="card-header h3 text-center">Konfirmasi Ubah Variant</div>
    <div class="card-body">
       

        <div class="row my-1">
            <div class="col-5">
                <strong>Data Lama</strong>
            </div>
            <div class="col-2">&nbsp;</div>
            <div class="col-5">
                <strong>Data Baru</strong>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-5">
                <p>Nama Variant : <strong>@datalama.Name</strong></p>
            </div>
            <div class="col-2"> <i class="far fa-arrow-alt-circle-right fa-lg"></i></div>
            <div class="col-5">
                <p>Nama Variant : <strong>@databaru.Name</strong></p>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-5">
                <p>Deskripsi : <strong>@datalama.Description</strong></p>
            </div>
            <div class="col-2"> <i class="far fa-arrow-alt-circle-right fa-lg"></i></div>
            <div class="col-5">
                <p>Deskripsi : <strong>@databaru.Description</strong></p>
            </div>
        </div>

        <div class="row my-1">
            <div class="col-5">
                <p>kategori : <strong>@datalama.CategoryName</strong></p>
            </div>
            <div class="col-2"> <i class="far fa-arrow-alt-circle-right fa-lg"></i></div>
            <div class="col-5">
                <p>kategori : <strong>@databaru.CategoryName</strong></p>
            </div>
        </div>

    </div>
    <div class="card-footer text-center btn-group mt-3">
        <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
        <button id="btnSimpan" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">Simpan</button>
    </div>
</div>


<script>
    $("#btnSimpan").click(function (event) {
        let dataVariant = @Html.Raw(JsonConvert.SerializeObject(ViewBag.databaru));
        let userId = @ViewBag.userId;
        let roleId = @ViewBag.roleId;
        let menuId = @ViewBag.menuId;

        let data = {
            dataVariant: dataVariant,
            userId: userId,
            roleId: roleId,
            menuId: menuId,
        }
    
        $.ajax({
            url: "/Variant/GoUpdateVariant",
            type: "post",
            data: data,
            dataType: "json",
            beforeSend: function () { },
            success: function (response) {
                debugger;
                if (response.statusCode == 200) {
                    $("#MenuAdmin").load("/Variant/Index?userId="
                        + @ViewBag.userId + "&RoleId=" + @ViewBag.roleId + "&menuId=" + @ViewBag.menuId);

                }
            },
            error: function () { },
        })


    })
</script>