﻿@using Newtonsoft.Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    VMTblVariant data = ViewBag.variant;
}
<div class="card">
    <div class="card-header h3 text-center">Confirmasi hapus Variant</div>
    <div class="card-body">
        <div class="text-center mb-2">Anda Yakin Ingin menghapus Kategori Berikut :</div>
        <div class="mt-3">
            <p>Nama kategori :  <strong>@data.Name</strong></p>
        </div>

    </div>
    <div class="card-footer text-center btn-group">
        <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
        <button id="btnSimpan" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">Simpan</button>
    </div>
</div>
<script>
    $("#btnSimpan").click(function (event) {
        let datavariant = @Html.Raw(JsonConvert.SerializeObject(ViewBag.variant));
        let userId = @ViewBag.userId;
        let roleId = @ViewBag.roleId;
        let menuId = @ViewBag.menuId;

        let data = {
            datavariant: datavariant,
            userId: userId,
            roleId: roleId,
            menuId: menuId,
        }

        $.ajax({
            url: "/Variant/GoDeleteVariant",
            type: "post",
            data: data,
            dataType: "json",
            beforeSend: function () { },
            success: function (response) {
                debugger;
                if (response.statusCode == 200) {
                    $("#MenuAdmin").load("/Variant/Index?userId="
                        + @ViewBag.userId + "&RoleId=" + @ViewBag.roleId + "&menuId=" + @ViewBag.menuId);

                }
            },
            error: function () { },
        })

    })
</script>