﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="container-fuild" id="AdminMenuVariant">
    <div class="row">
        <div class="col-2 bg-primary">
            <nav class=" navbar navbar-dark bg-primary">
                <h class="text-white ms-md-5 mx-5 h5">
                    Menu
                </h>
                <button class="navbar-toggler border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
                        aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
            </nav>
            <hr class="text-white" />

            <div class="collapse btnMenuList" id="navbarToggleExternalContent">
                <ul class="nav nav-pills flex-column mb-auto">
                    @foreach (VMTblMenuRole data in ViewBag.Home)
                    {
                        <li>
                            <a class="nav-link link-dark  text-white" data-id="@data.Id" data-url="@data.url" data-title="@data.NamaMenu"
                               asp-controller="Admin" asp-action="@data.url" asp-route-roleId="@ViewBag.roleId">
                                <svg class="bi me-2" width="16" height="16"></svg>
                                @data.NamaMenu
                            </a>
                        </li>
                    }
                    @foreach (VMTblMenuRole data in ViewBag.menu)
                    {
                        <li>
                            <a class="nav-link link-dark btnMenu text-white" data-id="@data.Id" data-url="@data.url" data-title="@data.NamaMenu">
                                <svg class="bi me-2" width="16" height="16"></svg>
                                @data.NamaMenu
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="card col-8">
            <div class="card-header d-flex justify-content-between">
                <span class="h3">@ViewBag.Title</span>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <button class="btn btn-success" title="Add..." id="btnAdd"
                                data-bs-toggle="modal" data-bs-target="#staticModal">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <form id="frmFind" class="input-group w-25">
                        <input id="txtFilter" name="filter" placeholder="Find..." value="@ViewBag.Filter" class="form-control" />
                        <button id="btnFilter" type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <partial name="_Alert" />
                <table class="table container-fuild">
                    <thead>
                        <tr>
                            <th class="col-1">No.</th>
                            <th class="col-3">Nama</th>
                            <th class="col-5">Deskripsi</th>
                            <th class="col-1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if ((ViewBag.listVariant).Count > 0)
                        {
                            @for (int i = 0; i < (ViewBag.listVariant).Count; i++)
                            {
                                VMTblVariant dataVariant = ViewBag.listVariant[i];
                                <tr>
                                    <td><strong>@(i + 1) </strong></td>
                                    <td>@dataVariant.Name</td>
                                    <td>@dataVariant.Description</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" data-id="@dataVariant.Id" class="btn btn-warning" title="Edit..."
                                                    data-bs-toggle="modal" data-bs-target="#staticModal">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" data-id="@dataVariant.Id" class="btn btn-danger" title="Delete..."
                                                    data-bs-toggle="modal" data-bs-target="#staticModal">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }@if ((ViewBag.listVariant).Count == 0)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <div>
                                        <i id="denger" class="fas fa-exclamation-triangle" style="color:RED"></i>
                                        <a>Tidak Ada Data Variant !!!! </a>
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <div class="btn-group text-center">
                        <button class="btn btn-success btnPrevious"><i class="fas fa-chevron-circle-left"></i></button>
                        <span class="input-group-text">Page  of page </span>
                        <button class="btn btn-success btnNext "> <i class="fas fa-chevron-circle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 bg-primary">
            <nav class="navbar navbar-dark bg-primary">
                &nbsp;
            </nav>
        </div>
    </div>
</div>

<script>
    $(".btnMenu").click(function (event) {
        let userId = @ViewBag.userId;
        let roleId = @ViewBag.roleId;
        let menuId = $(this).data("id");
        let menu = $(this).data("url");
        let title = $(this).data("title");

        let data = {
            userId: userId,
            roleId: roleId,
            menuId: menuId,
            menu: menu,
            title: title
        }
        $.ajax({
            type: "POST",
            url: menu,
            data: data,
            success: function (response) {
                $("#AdminMenuVariant").html(response);
            },
            error: function (error) {

            }
        });
    });

    $(".btn-warning").click(function (event) {
        let userId = @ViewBag.userId;
        let RoleId = @ViewBag.RoleId;
        let itemId = $(this).data("id");
        let menuId = @ViewBag.menuId;
   
        $("#staticModalBody").load("/Variant/UpdateVariantIndex?userId=" + userId +
            "&RoleId=" + RoleId + "&itemId=" + itemId + "&menuId=" + menuId);
    });

    $("#btnAdd").click(function (event) {
        let userId = @ViewBag.userId;
        let RoleId = @ViewBag.RoleId;
        let menuId = @ViewBag.menuId;
        $("#staticModalBody").load("/Variant/AddNewVariantIndex?userId=" + userId + "&RoleId=" + RoleId + "&menuId=" + menuId);
    });

    $(".btn-danger").click(function (event) {
        let userId = @ViewBag.userId;
        let RoleId = @ViewBag.RoleId;
        let itemId = $(this).data("id");
        let menuId = @ViewBag.menuId;
        $("#staticModalBody").load("/Variant/DeleteVariantIndex?userId="
            + userId + "&RoleId=" + RoleId + "&itemId=" + itemId + "&menuId=" + menuId);
    });

</script>