﻿@using Newtonsoft.Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout=null;
    VMTblVariant dataVariant = ViewBag.dataVariant;
}
<form id="formUpdate">
    <div class="card">
        <div class="card-header h3 text-center">Ubah Variant</div>
        <div class="card-body">
            <div class="col-10">
                <input type="hidden" value="@ViewBag.userId" name="userId" />
                <input type="hidden" value="@ViewBag.RoleId" name="RoleId" />
                <input type="hidden" value="@ViewBag.menuId" name="menuId" />
                <input type="hidden" value="@dataVariant.Id" name="id" />
                <label class="my-1">Nama Kategori<sup class="text-danger">*</sup></label>
                <input class="form-control" id="valNama" type="text" name="Name" value="@dataVariant.Name">
                <label class="my-1">Deskripsi Kategori<sup class="text-danger">*</sup></label>
                <input class="form-control" id="valdeskripsi" type="text" name="Description" value="@dataVariant.Description">
                <label class="my-1">Pilih Category<sup class="text-danger">*</sup></label>
                <select name="CategoryId" class="form-control col-10">
                    <option value="">--Select Category--</option>
                    @foreach (VMTblCategory category in ViewBag.listCategory)
                    {
                        if (dataVariant.CategoryId == category.Id)
                        {
                             <option value="@category.Id" selected>@category.CategoryName</option>
                                
                        }else{

                             <option value="@category.Id" >@category.CategoryName</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="card-footer text-center btn-group mt-3">
            <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
            <button id="btnSimpan" type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </div>
</form>
<script>
    $("#formUpdate").submit(function (event) {
        event.preventDefault();
        if ($("#formUpdate").valid()) {
            let dataUpdate = $("#formUpdate").serialize();
         
      
            $.ajax({
                url: "/Variant/ConfirmUpdateVariant",
                type: "post",
                data: dataUpdate,
                dataType: "text",
                beforeSend: function () { },
                success: function (response) {
                    $("#staticModalBody").html(response);
                },
                error: function () { }
            })
        }
    })
</script>