﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid bg-primary text-white pt-4 d-none pb-3 d-lg-flex">
    <div class="container-fluid pb-2">
        <div class="row">
            <div class="col-4 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="h1 text-white mb-0" asp-area="" asp-controller="Home" asp-action="Index">Toko<span class="text-dark">bangunan</span></a>
            </div>
            <div class="col-8 d-flex justify-content-lg-end">
                <form id="frmFind" class="input-group w-50" asp-action="Index">
                    <input name="filter" id="txtFilter" placeholder="Search...." class="form-control" />
                    <button type="submit" id="btnFilter" class="input-group-text"><i class="fas fa-search"></i></button>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid sticky-top">
    <div class="container" style="height: 50px">
        <nav class="navbar navbar-expand-lg navbar-light bg-white p-5 py-lg-0 px-lg-5">
            <a class="navbar-brand d-lg-none">
                <h1 class="text-primary m-0">Toko<span class="text-dark">bangunan</span></h1>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    @foreach (VMTblMenuRole data in ViewBag.menu)
                    {
                        <a class="nav-link link-dark btnMenu" data-url="@data.url">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            @data.NamaMenu
                        </a>
                    }
                </div>
            </div>
        </nav>
    </div>
</div>


<div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
         @*    <img src="~/images/dokter-cantik.png" style="width:700px;" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy"> *@

            <div class="d-grid ms-3 mt-3 gap-2 d-md-flex justify-content-md-center">
                <button id="btnMasuk" type="button" class="btn btn-primary btn-lg px-4 me-md-2" data-bs-toggle="modal" data-bs-target="#staticModal">
                    Log In
                </button>
                <button id="btnSignUp" type="button" class="btn btn-outline-secondary btn-lg px-4" data-bs-toggle="modal" data-bs-target="#staticModal">Sign Up</button>
            </div>
        </div>
        <div class="col-lg-6 justify-content-md-start">

            <div class="card border-1 border-primary text-center" style="height:340px;">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
              @*   <img class="" style="align-self:center; width:300px" src="~/images/health.png"> *@
              @*   <div class="text-primary" style="font-size:23px;">Come be healthy with us</div> *@
            </div>
        </div>
    </div>
</div>
<script>
    $(".btnMenu").click(function (event) {
        let data = $(this).data("url");
        location.replace(data);
        console.log(data);
    })

    $("#btnMasuk").click(function (event) {

        $("#staticModalBody").load("/Login/Index/");

    });

    $("#btnSignUp").click(function (event) {

        $("#staticModalBody").load("/Registrasi/Index/");

    });

</script>