﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmResetPassword" method="post" asp-action="ResetPassword">
    <div class="card-header  h3 text-center">Reset Password @ViewBag.Response</div>
    <div class="card-body">
        <div class=" my-1" id="emailCheck">
            <label class="col-2">Email</label>
            <input class="form-control  text-start" id="emailInput" type="text" name="Email" placeholder="Input Email..." />
            <span class="text-danger" id="emailError"></span>
        </div>
    </div>
    <div class="card-footer">
        <center>
            <button id="btnResetPassword" type="submit" class="btn btn-info ">KIRIM OTP</button>

        </center>
    </div>
</form>

<script>
    $("#frmResetPassword").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                "required": true,
                "email": true,
                "minlength": 1
            }
        },
        messages: {
            Email: {
                "required": "Mohon Isi Email",
                "email": "Mohon Isi Email Yang Sesuai"
            }
        },
        submitHandler: function () {
            return false;
        }
    });

    $("#frmResetPassword").submit(function (event) {
        debugger;
        if ($("#frmResetPassword").valid()) {
            $.ajax({
                url: "/ResetPassword/Check",
                type: "post",
                data: {
                    email: $("#emailInput").val()
                },
                dataType: "json",
                beforeSend: function () { },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 200) {

                        $.ajax({
                            url: "/ResetPassword/Otp",
                            type: "post",
                            data: {
                                email: $("#emailInput").val(),
                            },
                            dataType: "json",
                            beforeSend: function () { },
                            success: function (response) {

                                if (response.statusCode == 200) {
                                    debugger;
                                    $(".card2-title").html("")
                                    $("#staticModalBody").load("/ResetPassword/VerifikasiOtpReset?email=" + $("#emailInput").val());
                                }
                            }
                        });
                    } else if (response.statusCode == 204) {
                        $("#emailError").html("Mohon Maaf Email Anda Tidak Terdaftar");
                    } else if (response.statusCode == 423) {
                        $("#emailError").html("Mohon Maaf Akun Anda Terkunci");
                    }

                },
                error: function () {

                }
            });


        }
    });

</script>