﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmVerifkasiReset" method="post" asp-action="ResetPassword">
    <div class="card-header  h3 text-center">Verifikasi OTP</div>
    <div class="card-body">
        <div class=" my-1" id="OtpCheck">
            <input type="hidden" id="emailInput" name="email" value="@ViewBag.email" />
            <label for="VerifikasiOtpReset">Kode OTP</label>
            <input class="form-control" id="VerifikasiOtpReset" type="text" name="OtpCode" placeholder="Masukkan Kode OTP" required />

            <div id="error-message" class="text-danger"></div>
        </div>
        <div class="text-center">
            <p>Waktu tersisa: <span id="timer" class="font-weight-bold text-primary">10 detik</span></p>
        </div>
        <div class="text-center " style="display: none;" id="expired">Kirim ulang kode OTP untuk mendapatkan yang baru.</div>
    </div>
    <div class="card-footer">
        <center>
            <button id="btnVerifOtp" type="submit" class="btn btn-info">Verifikasi Otp</button>
            <button id="btnKirimUlang" type="button" class="btn btn-danger" style="display: none;">Kirim Ulang OTP</button>

        </center>
    </div>
</form>

<script>
    $("#frmVerifkasiReset").validate({
        errorClass: "text-danger",
        rules: {
            VerifikasiOtpReset: {
                required: true,
                minlength: 4
            }
        },
        messages: {
            VerifikasiOtpReset: {
                required: "Mohon Isi Kode Verifikasi OTP",
                minlength: "Kode Verifikasi minimal 4 karakter"
            }
        },
        submitHandler: function () {
            return false;
        }
    });


    $(document).ready(function () {
        function startCountdown(seconds) {
            var countdown = $("#timer");
            var interval = setInterval(function () {
                if (seconds <= 0) {
                    clearInterval(interval);
                    countdown.text("Waktu Habis");
                    $("#expired").show();
                    $("#btnKirimUlang").show();
                } else {
                    countdown.text(seconds + " detik");
                    seconds--;
                }
            }, 1000);
        }
        startCountdown(10);
        $("#btnKirimUlang").click(function () {
            $.ajax({
                url: "/ResetPassword/ResendOtp",
                type: "post",
                data: {
                    email: $("#emailInput").val()
                },
                dataType: "json",
                beforeSend: function () { },
                success: function (response) {
                    if (response.statusCode == 200) {
                        $("#btnKirimUlang").hide();
                        $("#expired").hide();
                        startCountdown(10);
                    }

                },
                error: function () {

                },
            });
        });
    });

    $("#frmVerifkasiReset").submit(function (event) {
        debugger;
        if ($("#frmVerifkasiReset").valid()) {
            $.ajax({
                url: "/ResetPassword/VerifikasiOtpCheck",
                type: "post",
                data: {
                    email: $("#emailInput").val(),
                    OtpCode: $("#VerifikasiOtpReset").val()
                },
                dataType: "json",
                beforeSend: function () { },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 200) {

                        $("#timer").hide();
                        $("#expired").hide();
                        $("#btnKirimUlang").hide();
                        $("#VerifikasiOtpReset").hide();
                        $("#btnVerifOtp").hide();
                        $("#error-message").hide();

                        $(".card2-title").html("")
                        $("#staticModalBody").load("/ResetPassword/SetNewPassword?email=" + $("#emailInput").val());

                    } else if (response.statusCode == 424) {
                        $("#error-message").text("Kode OTP expired");
                    }
                    else {
                        $("#error-message").text("Kode OTP tidak valid. Silakan coba lagi.");
                    }
                },
                error: function () {

                }
            });
        }
    })

</script>