﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="formAdd">
<div class="card">
<div class="card-header h3 text-center">Tambah Kategori</div>
    <div class="card-body">
        <div class="col-10">
                <input type="hidden" value="@ViewBag.userId" name="userId" />
                <input type="hidden" value="@ViewBag.RoleId" name="RoleId" />
                <input type="hidden" value="@ViewBag.menuId" name="menuId" />
            <label class="my-1">Nama Kategori<sup class="text-danger">*</sup></label>
            <input class="form-control" id="valNama" type="text" name="CategoryName">
            <label class="my-1">Deskripsi Kategori<sup class="text-danger">*</sup></label>
            <input class="form-control" id="valdeskripsi" type="text" name="CategoryDeskripsi">
        
        </div>
    </div>
    <div class="card-footer text-center btn-group mt-3">
        <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
        <button id="btnSimpan" type="submit" class="btn btn-primary">Simpan</button>
    </div>
</div>
</form>

<script>
    $("#formAdd").submit(function (event) {
        event.preventDefault();
        if ($("#formAdd").valid()) {
            let data = $("#formAdd").serialize();
          
            $.ajax({
                url: "/Category/ConfirmAddNewCategory/",
                type:"post",
                data:data,
                dataType:"text",
                beforeSend: function () { },
                success: function (response) {
                    $("#staticModalBody").html(response);
                },
                error: function () { },
            })

        }
    })
</script>