﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="confrimAdd">
    <div class="card">
        <div class="card-header h3 text-center">Confirmasi Kategori</div>
        <div class="card-body">
            <div class="text-center mb-2">Anda Yakin Ingin Menambahkan Kategori Berikut :</div>
          <div class="mt-3">
                <input type="hidden" value="@ViewBag.RoleId" name="RoleId"/>
                <input type="hidden" value="@ViewBag.userId" name="userId"/>
                <input type="hidden" value="@ViewBag.CategoryName" name="CategoryName"/>
                <input type="hidden" value="@ViewBag.CategoryDes" name="CategoryDeskripsi"/>

                <p>Nama kategori :  <strong>@ViewBag.CategoryName</strong></p>
                <p>Deskripsi kategori : <strong>@ViewBag.CategoryDes</strong></p>
          </div>

        </div>
        <div class="card-footer text-center btn-group">
            <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
            <button id="btnSimpan" type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">Simpan</button>
        </div>
    </div>
</form>

<script>
    $("#confrimAdd").submit(function (event) {
        event.preventDefault();
        let userId = @ViewBag.userId;
        let RoleId = @ViewBag.RoleId;
        let menuId = @ViewBag.MenuId;
        if ($("#confrimAdd").valid()) {
            let data = $("#confrimAdd").serialize();
            $.ajax({
                url: "/Category/GoAddNewCategory",
                type:"post",
                data:data,
                dataType:"json",
                beforeSend: function () { },
                success: function (response) { 
                    debugger;
                    if (response.statusCode == 201){
                        $("#MenuAdmin").load("/Category/Index?userId="
                            + userId + "&RoleId=" + RoleId + "&menuId=" + menuId);
 
                    }
                },
                error: function () { },
            })
        }
    });
</script>