﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    VMTblCategory dataCategory = ViewBag.category;
}
<form id="formUpdate">
    <div class="card">
        <div class="card-header h3 text-center">Ubah Kategori</div>
        <div class="card-body">
            <div class="col-10">
                <input type="hidden" value="@ViewBag.userId" name="userId" />
                <input type="hidden" value="@ViewBag.RoleId" name="RoleId" />
                <input type="hidden" value="@ViewBag.menuId" name="menuId" />
                <input type="hidden" value="@dataCategory.Id" name="id" />
                <label class="my-1">Nama Kategori<sup class="text-danger">*</sup></label>
                <input class="form-control" id="valNama" type="text" name="CategoryName" value="@dataCategory.CategoryName">
                <label class="my-1">Deskripsi Kategori<sup class="text-danger">*</sup></label>
                <input class="form-control" id="valdeskripsi" type="text" name="Description" value="@dataCategory.Description">
            </div>
        </div>
        <div class="card-footer text-center btn-group mt-3">
            <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
            <button id="btnSimpan" type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </div>
</form>
<script>
    $("#formUpdate").submit(function (event) {
        event.preventDefault();
        if ($("#formUpdate").valid()) {
            let dataCategory = $("#formUpdate").serialize();

            $.ajax({
                url: "/Category/ConfirmUpdateCategory",
                type:"post",
                data: dataCategory,
                dataType:"text",
                beforeSend: function () { },
                success: function (response) {
                    $("#staticModalBody").html(response);
                },
                error: function () { }
            })
        }
        })
</script>