﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int? userId = Context.Session.GetInt32("UserId");
    long? RoleId = Context.Session.GetInt32("UserRole");
    string? FullName = Context.Session.GetString("UserNama");
   
}

<body id="AdminPage">
    <div class="container-fluid bg-primary text-white pt-4 pb-xxl-5 d-lg-flex">
        <div class="container-fluid pb-2">
            <div class="row">
                <div class="col-4 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a class="h1 text-white mb-0">Toko<span class="text-dark">Bangunan</span></a>
                </div>
                <div class="col-8 d-flex justify-content-lg-end">   
                    <form id="frmFind" class="input-group w-50">
                        <input name="filter" id="txtFilter" placeholder="Search...." class="form-control" />
                        <button type="submit" id="btnFilter" class="input-group-text"><i class="fas fa-search"></i></button>
                    </form>
                    <button type="button" class="btn btn-info mx-2" id="btnProfile" title="Profile" data-bs-target="#navbarToggleExternalContent"
                            aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                        Hay! @FullName
                        <i class="fas fa-user text-white"></i>  
                    </button>
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false"></a>
                        <ul class="dropdown-menu text-small shadow mx-1" aria-labelledby="dropdownUser2" style="">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="AdminProfile">Profile</a></li>
                            <li><a class="dropdown-item" id="idKeluar" data-bs-toggle="modal" data-bs-target="#staticModal">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fuild" id="MenuAdmin">
        <div class="row">
            <div class="col-2 bg-primary">
            </div>
            @foreach (VMTblMenuRole data in ViewBag.Home)
            {
                  <div class="col-2 card p-2 m-1 text-center ">
                    <div class="card-body text-center">
                        <p class="card-text">@data.NamaMenu </p>
                        <a class="btn btn-primary text-center"  data-title="@data.NamaMenu" asp-controller="Admin" asp-action="@data.url" asp-route-roleId="@ViewBag.roleId">
                            Klik
                        </a>
                    </div>
                </div>
            }
            @foreach (VMTblMenuRole dataMenu in ViewBag.menu)
            {
                <div class="col-2 card p-2 m-1 text-center">
                    <div class="card-body text-center">
                        <p class="card-text">@dataMenu.NamaMenu </p>
                        <button data-url="@dataMenu.url" data-id="@dataMenu.Id" data-title="@dataMenu.NamaMenu" class="btn btn-primary text-center btnMenu" data-bs-target="#navbarToggleExternalContent"
                                aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                            Klik
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

<script>

    $("#btnProfile").click(function (event) {
        let userId = @userId;
        debugger;

        $("#profileAdmin").load("/Admin/AdminProfile?userId=" + userId)

    });

    $(".btnMenu").click(function (event) {
        let userId = @userId;
        let roleId = @RoleId;
        let menuId = $(this).data("id");
        let menu = $(this).data("url");
        let title = $(this).data("title");

        let data = {
            userId: userId,
            roleId: roleId,
            menuId: menuId,
            title: title
        }
      
        $.ajax({
            type: "POST",
            url: menu,
            data: data,
            success: function (response) {
                $("#MenuAdmin").html(response);
            },
            error: function (error) {

            }
        });
    });

    $("#idKeluar").click(function (event) {
        debugger;
        $("#staticModalBody").load("/Login/logout/")

    });
</script>