﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<form id="AddNewProduct" method="post" enctype="multipart/form-data">
<div class="card">
    <div class="card-header h3">Product Add</div>
        <div id="error">
        </div>
        <input type="hidden" value="@ViewBag.menuId" name="menuId" />
        <input type="hidden" value="@ViewBag.userId" name="userId" />
        <input type="hidden" value="@ViewBag.RoleId" name="RoleId" />
    <div class="card-body">
        <div class="input-group my-1">
            <label class="col-2 input-group-text">Image</label>
            <input class="form-control" type="file" name="ImageFile" placeholder="Input Product Picture..." />
        </div>
        <div class="input-group my-1">
            <label class="col-2 input-group-text">Name</label>
            <input class="form-control" type="text" name="Name" placeholder="Input Product Name..." />
        </div>
        <div class="row my-1">
            <div class="col-6">
                <div class="input-group">
                    <label class="col-4 input-group-text">Category</label>
                    <select id="categoryId" name="CategoryId" class="form-control">
                        <option value="">-- Select Category --</option>
                        @foreach (VMTblCategory category in ViewBag.Category)
                        {
                            <option value="@category.Id">@category.CategoryName</option>

                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <label class="col-4 input-group-text">Variant</label>
                    <select id="variantId" name="VariantId" class="form-control">
                        <option value="">-- Select Variant --</option>
                        @foreach (VMTblVariant variant in ViewBag.Variant)
                        {
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-6">
                <div class="input-group">
                    <label class="col-4 input-group-text">Price</label>
                    <input class="form-control" type="number" name="Price" min="0" />
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <label class="col-4 input-group-text">Stock</label>
                    <input class="form-control" type="number" name="Stock" min="0" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-end">
            <button id="btnSimpan" type="button" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

<script>
    $("#btnSimpan").click(function (event) {
        let formData = new FormData($("#AddNewProduct")[0]);
        console.log(formData);
        debugger;
        $.ajax({
            url: "/Product/ConfirmAddNewProduct",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                debugger
                $("#staticModalLgBody").html(response);
            },
            error: function (error) {

                alert("1");
            }
        });

    });

    $("#categoryId").change(function () {
        let id = $(this).val();

        $.ajax({
            url: "/Product/GetVariantsByCategory",
            data: { "id": id },
            dataType: "json",
            beforeSend: function () {

            },
            success: function (response) {
                if (response.statusCode == 200) {
                    $("#variantId").empty();
                   
                    $.each(
                        response.data,
                        function (idx, data) {
                            $("#variantId").append(`<option value="${data.id}">${data.name}</option>`);
                            $("#error").empty();
                        }
                    );
                    response.data;
                } else {
                    $("#error").html(`<div class="alert alert-danger" role="alert">${response.message}</div>`);
                    $("#variantId").empty();
                }
            },
            error: function () {
                alert("Get Variant Proces Failed!");
            }
        });
    });
</script>