﻿@using Newtonsoft.Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    VMTblProduct dataProduct = ViewBag.dataAdd;
    VMTblVariant dataVariant = ViewBag.VariantName;
    VMTblCategory dataCategory = ViewBag.CategoryName;
}

<div class="card">
    <div class="card-header h3 text-center" >Konfirmasi Tambah Product</div>
    <div class="card-body">
        <p>
            Apakah Anda Yakin Ingin Menambahkan Product Berikut :
        </p>
        <div class="text-center">
            <img class="img-fluid" style="width:220px;" alt="@(dataProduct.ImageName?? "--N/A--")" title="@(dataProduct.ImageName ?? "--N/A--")"
                 src="@(dataProduct.ImageBase64??Url.Content($"~/{ViewBag.ImgFolder}/image-empty.png"))" />
        </div>
        <div>
            <p>Nama Product : <strong>@dataProduct.Name</strong></p>
        </div>  
        <div>
            <p>Nama kategori : <strong>@dataCategory.CategoryName</strong></p>
        </div>
        <div>
            <p>Nama Variant : <strong>@dataVariant.Name</strong></p>
        </div>
        <div>
            <p>harga Rp<strong>@dataProduct.Price </strong></p>
        </div>
        <div>
            <p>Stock : <strong>@dataProduct.Stock</strong></p>
        </div>

    </div>
    <div class="card-footer text-center btn-group">
        <button id="btnClose" data-bs-dismiss="modal" type="button" class="btn btn-outline-primary">Batal</button>
        <button id="btnSimpan" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">Simpan</button>
    </div>
</div>


<script>
    $("#btnSimpan").click(function (event) {
        let userId = @ViewBag.userId;
        let RoleId = @ViewBag.RoleId;
        let menuId = @ViewBag.MenuId;
        let dataProduct = @Html.Raw(JsonConvert.SerializeObject(ViewBag.dataAdd));

        let data = {
            userId: userId,
            RoleId: RoleId,
            menuId: menuId,
            dataProduct: dataProduct,
        }

        $.ajax({
            url: "/Product/GoAddNewProduct",
            type: "post",
            data: data,
            dataType: "json",
            beforeSend: function () { },
            success: function (response) {
                debugger;
                if (response.statusCode == 201) {
                    $("#MenuAdmin").load("/Product/Index?userId="
                        + userId + "&RoleId=" + RoleId + "&menuId=" + menuId);

                }
            },
            error: function () { },
        })

    });
</script>