﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmLogin" method="post" asp-action="Login">
    <div class="card-header  h1 text-center">Masuk </div>
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div>&nbsp;</div>
                <label>Email</label>
                <input class="form-control  text-start" type="text" id="emailInput" name="Email" placeholder="Input Email..." />
                <span id="emailError" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div>&nbsp;</div>
                <label>Password</label>
                <div class="input-group">
                    <input class="form-control text-start" type="password" id="passwordInput" name="Password" placeholder="Input Password..." />
                    <span class="input-group-text" id="showPasswordToggle" onclick="togglePasswordVisibility()">
                        <i class="fas fa-eye fa-sm"></i>
                    </span>
                </div>
                <span id="passwordError" class="text-danger"></span>
            </div>
        </div>
        <div class="text-center">
            <a id="toResetPassword" class="registration-link" style=" cursor: pointer;">Lupa Password</a>
            <br />
            <a>Atau</a>
            <br />
            <a>Belum Memiliki Akun?</a>
            <a id="toRegistrasi" class="registration-link" style="color:blue; cursor: pointer;">Daftar</a>
        </div>
    </div>
    <div class="card-footer">
        <button id="btnSubmit" type="submit" class="btn btn-info float-end">Login</button>
    </div>
</form>

<script>

    $("#frmLogin").validate({
        errorClass: "text-danger",
        errorPlacement: function (error, element) {
            if (element.attr("name") == "Email") {
                error.appendTo("#emailError");
            } else if (element.attr("name") == "Password") {
                error.appendTo("#passwordError");
            }
        },
        rules: {
            Email: {
                "required": true,
                "email": true
            
            },
            Password: {
                "required": true,
                "minlength": 8
            }
        },
        messages: {
            Email: {
                "required": "Mohon Isi Email",
                "email": "Mohon Isi Email Yang Sesuai"
               
            },
            Password: {
                "required": "Password Harus Di Isi",
                "minlength": "Password Minimal 8 Karakter"
            }
        },
        submitHandler: function () {
            return false;
        }
    });

    $("#frmLogin").click(function (event) {
        $("#passwordError").text("");
    });



    $("#toRegistrasi").click(function (event) {
        debugger;
        $("#staticModalBody").load("/Registrasi/Index");
    });

    $("#toResetPassword").click(function (event) {
        debugger;
        $("#staticModalBody").load("/ResetPassword/Index");
    });

    $("#frmLogin").submit(function (event) {
        debugger;
        if ($("#frmLogin").valid()) {
            debugger;
            $.ajax({
                url: "/Login/Check",
                type: "post",
                data: {
                    email: $("#emailInput").val(),
                    password: $("#passwordInput").val()
                },
                dataType: "json",
                beforeSend: function () { },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 204 || response.statusCode == 404) {
                        $("#passwordError").text("Email Atau Password Tidak Valid");
                    }
                    else if (response.statusCode == 423) {
                        $("#passwordError").text("Akun Anda Terkunci");
                    }
                    else if (response.statusCode == 200) {
                        debugger;

                        $.ajax({
                            url: "/Login/GetLogin",
                            type: "post",
                            data: {
                                email: $("#emailInput").val(),
                            },
                            dataType: "json",
                            beforeSend: function () { },
                            success: function (response) {
                                debugger;
                                if (response.statusCode == 200) {
                                    var userId = response.data.id;
                                      let roleId = response.data.roleId;
                                    debugger;
                                    if (response.data.roleId == 1) {
                                        location.replace("/Admin/Index/?RoleId=" + roleId + "&UserId=" + userId);
                                       
                                    }

                                    if (response.data.roleId == 2) {
                                        location.replace("/Customer/Index/" + userId);
                                    }

                                }
                            },
                            error: function () {

                            }
                        });
                    }
                },
                error: function () {
                    alert("err")
                },
            });
        }
    });



    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("passwordInput");
        var passwordToggle = document.getElementById("showPasswordToggle");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggle.innerHTML = '<i class="fas fa-eye-slash fa-sm"></i>';
        } else {
            passwordInput.type = "password";
            passwordToggle.innerHTML = '<i class="fas fa-eye fa-sm"></i>';
        }
    }


</script>