﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="text-center mb-3">
    <strong>Apakah Anda yakin Ingin Keluar</strong>

</div>
<div class="text-center">
    <button id="btnConfirm" class="btn mx-2 border"><i class="fas fa-check fa-lg" style="color: #16e407;"></i></button>
    <button data-bs-dismiss="modal" class="btn mx-2 border"><i class="fas fa-times fa-lg" style="color: #e60000;"></i></button>
</div>

<script>
    $("#btnConfirm").click(function (event) {
        location.replace("/Home/Index/")
    });
</script>