﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="text-center">
    Selamat Anda Berhasil Membuat Akun Baru
    <p class="text-center">Klik Untuk Melanjutkan</p>
</div>
<div class="card-footer" id="profilePasien">
    <center>
        <button id="btnOkeSip" type="button" class="btn btn-outline-dark"> <i class="far fa-thumbs-up fa-lg"></i></button>
    </center>
</div>
<script>
    $("#btnOkeSip").click(function (event) {
        $("#staticModalBody").load("/Login/Index");
    })
</script>