﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmReg" method="post" asp-action="Registrasi">
    <div class="card-header  h3 text-center">Registrasi</div>
    <div class="card-body">
        <div class=" my-1" id="emailCheck">
            <label class="col-2">Email</label>
            <input class="form-control  text-start" id="emailInput" type="text" name="Email" placeholder="Input Email..." />
            <span class="text-danger" id="emailError"></span>
        </div>
    </div>
    <div class="card-footer">
        <center>
            <button id="btnReg" type="submit" class="btn btn-info ">KIRIM OTP</button>
        </center>
    </div>
</form>

<script>

    $("#frmReg").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                "required": true,
                "email": true,
                "minlength": 1
            }
        },
        messages: {
            Email: {
                "required": "Mohon Isi Email",
                "email": "Mohon Isi Email Yang Sesuai"
            }
        },
        submitHandler: function () {
            return false;
        }
    });

    $("#frmReg").submit(function (event) {
        debugger;
        if ($("#frmReg").valid()) {
      
            $.ajax({
                url: "/Registrasi/Check",
                type: "post",
                data: {
                    email: $("#emailInput").val()
                },
                dataType: "json",
                beforeSend: function () { },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 200) {
                        $("#emailError").html("Mohon Maaf Email Sudah Di Pakai");
                    } else if (response.statusCode == 204) {

                        $.ajax({
                            url: "/Registrasi/Otp",
                            type: "post",
                            data: {
                                email: $("#emailInput").val(),
                            },
                            dataType: "json",
                            beforeSend: function () { },
                            success: function (response) {
                                if (response.statusCode == 200) {
                                    debugger;

                                    $("#staticModalBody").load("/Registrasi/VerifikasiOtp?email=" + $("#emailInput").val());

                  

                                } else if (response.statusCode == 204) {
                                    $("#emailError").html("Mohon Maaf Email Sudah Di Pakaip");
                                }
                            }
                        });
                    }

                },
                error: function () {

                }
            });


        }
    });
</script>




