﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<form id="frmSetBiodata" method="post" asp-action="Registrasi">
    <div class="card-header h3 text-center">Masukkan Biodata </div>
    <input type="hidden" id="emailInput" name="email" value="@ViewBag.email" />
    <div class="modal-body">
        <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" id="namaInput" name="nama" placeholder="Nama" required>
            <span class="text-danger" id="namaError"></span>
        </div>
        <div class="form-group">
            <label for="nomorHp">Nomor HP</label>

            <div class="input-group">
                <input type="tel" class="form-control" id="nomorHpInput" name="nomorHp" placeholder="Nomor HP" required>
             
            </div>
            <span class="text-danger" id="nomorHpError"></span>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" name="role" required>
                <option value="">--Pilih--</option>
                @foreach (VMTblRole role in ViewBag.role.data)
                {
                    <option id="RoleInput" name="role" value="@role.Id">@role.Name</option>
                }
            </select>
            <span class="text-danger" id="roleError"></span>
        </div>
    </div>
    <div class="card-footer">
        <center>
            <button id="btnSubmitBiodata" type="submit" class="btn btn-primary">Simpan Biodata</button>
        </center>
    </div>
</form>
<script>


    $.validator.addMethod(
        "number",
        function (value, element, params) {
            var result = false;

            $.ajax({
                url: "/Registrasi/NumberPhone/",
                type: "post",
                data: {
                    MobilePhone: value
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    result = response;
                },
                error: function (errResponse) {
                    debugger;
                    alert(response.message);
                    result = false;
                }
            });

            return result;
        },
        "*Nomor Tidak Valid"
    );

    $("#frmSetBiodata").validate({
        errorClass: "text-danger",
        errorPlacement: function (error, element) {
            if (element.attr("name") == "nomorHp") {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            nama: {
                "required": true,
            },
            nomorHp: {
                "required": true,
                "number": true,
                "minlength": 10

            }
        },
        messages: {
            nama: {
                "required": "Mohon Isi Nama Anda"
            },
            nomorHp: {
                "required": "Mohon Masukkan Nomor Hp",
                "minlength": "Masukkan Minimal 10 angka"
            }
        },
        submitHandler: function () {
            return false;
        }
    });


    $("#frmSetBiodata").submit(function (event) {

        debugger;
        if ($("#frmSetBiodata").valid()) {

            $.ajax({
                url: "/Registrasi/SetBiodata",
                type: "post",
                data: $("#frmSetBiodata").serialize(),
                dataType: "json",
                beforeSend: function () {

                },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 200) {
                      
                        $("#staticModalBody").load("/Registrasi/AffterSuccessCreateAccount");
                    } else {
                        alert(response.Message);
                    }
                },
                error: function () {
                    alert("Failed!");
                }
            });

        }
    });
</script>
