﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmSetPassword" method="post" asp-action="Registrasi">
    <div class="card-header  h3 text-center">Masukkan Password </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <input type="hidden" id="emailInput" name="email" value="@ViewBag.email" />
                <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password" required>
                <div class="input-group-append">
                    <button class="btn" type="button" id="togglePassword">
                        <i class="fa fa-eye-slash fa-sm" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <span id="passwordError" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                <div class="input-group-append">
                    <button class="btn" type="button" id="toggleConfirmPassword">
                        <i class="fa fa-eye-slash fa-sm" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
            <span id="confirmPasswordError" class="text-danger"></span>
    </div>
    <div class="card-footer">
        <center>
            <button id="btnSimpanPassword" type="button" class="btn btn-primary">Simpan Password</button>
        </center>
    </div>
</form>

<script>
    $.validator.addMethod(
        "strongPassword",
        function (val, el) {
            
            return (/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[`~!@@#$%^&*.])(.{8,20}$)/.test(val));
        },
        function (chkRes, el) {
            let pass = $(el).val();
            let txtAlert = "";

            if (!(/^(.{8,20}$)/.test(pass)))
                txtAlert += '*Password harus lebih dari 8 karakter<br>';
            if (!(/^(?=.*[A-Z])/.test(pass)))
                txtAlert += '*Password harus mengandung huruf besar<br>';
            if (!(/^(?=.*[a-z])/.test(pass)))
                txtAlert += '*Password harus mengandung huruf kecil<br>';
            if (!(/^(?=.*[0-9])/.test(pass)))
                txtAlert += '*Password harus mengandung angka<br>';
            if (!(/^(?=.*[@@#$%&.])/.test(pass)))
                txtAlert += "*Password harus mengandung simbol";

            if (txtAlert == "")
                return true;
            else
                return txtAlert;
        }
    );

    $("#frmSetPassword").validate({
        errorClass: "text-danger",
        errorPlacement: function (error, element) {
            if (element.attr("name") === "password") {
                error.insertAfter("#passwordError");
            } else if (element.attr("name") === "confirmPassword") {
                error.insertAfter("#confirmPasswordError");
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            password: {
                strongPassword: true,
                required: true

            },
            confirmPassword: {
                required: true,
                equalTo: "#passwordInput"
            }
        },
        messages: {
            password: {
                required: "Mohon Isi Password."


            },
            confirmPassword: {
                required: "Mohon Isi Confirmasi Password",
                equalTo: "Password Tidak Sama"
            }
        },
        submitHandler: function () {
            return false;
        }
    });



    $("#btnSimpanPassword").click(function (event) {
        debugger
        if ($("#frmSetPassword").valid()) {
            $.ajax({
                url: "/Registrasi/SetPassword",
                type: "post",
                data: {
                    email: $("#emailInput").val(),
                    password: $("#passwordInput").val()
                },
                dataType: "json",
                beforeSend: function () { },
                success: function (response) {
                    if (response.statusCode == 201) {

                        $("#staticModalBody").load("/Registrasi/SetBiodata?email=" + $("#emailInput").val());
                    } else {

                    }
                },
                error: function () {

                }
            });
        }
    });



    $("#togglePassword").click(function () {
        var passwordInput = $("#passwordInput");
        var type = passwordInput.attr("type");
        if (type === "password") {
            passwordInput.attr("type", "text");
            $(this).html('<i class="fa fa-eye fa-sm" aria-hidden="true"></i>');
        } else {
            passwordInput.attr("type", "password");
            $(this).html('<i class="fa fa-eye-slash fa-sm" aria-hidden="true"></i>');
        }
    });

    $("#toggleConfirmPassword").click(function () {
        var confirmPasswordInput = $("#confirmPassword");
        var type = confirmPasswordInput.attr("type");
        if (type === "password") {
            confirmPasswordInput.attr("type", "text");
            $(this).html('<i class="fa fa-eye fa-sm" aria-hidden="true"></i>');
        } else {
            confirmPasswordInput.attr("type", "password");
            $(this).html('<i class="fa fa-eye-slash fa-sm" aria-hidden="true"></i>');
        }
    });
</script>
